## Deliverable 3. Create a Travel Itinerary Map.

In [12]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [13]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("..\Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
0,0,Albany,US,79.66,few clouds,42.6001,-73.9662,NaN
1,3,Salamiyah,SY,81.05,clear sky,35.0113,37.0532,Gondolas Forum grandchildren and grandparents
2,5,Vitoria,BR,78.87,clear sky,-20.3194,-40.3378,Hotel Prata
3,6,Sidi Ali,DZ,77.97,clear sky,36.0998,0.4206,الغابة الترفيهية بورحمة
4,7,Panacan,PH,81.50,overcast clouds,9.2463,118.4082,Mom's Place Resort

In [14]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Weather}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [23]:
# 4a. Add a marker layer for each city to the map.

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
              
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
vacation_df.head(2)

,City_ID,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
0,0,Albany,US,79.66,few clouds,42.6001,-73.9662,NaN
1,3,Salamiyah,SY,81.05,clear sky,35.0113,37.0532,Gondolas Forum grandchildren and grandparents

In [40]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'].str.contains("Lompoc")]
vacation_end = vacation_df.loc[vacation_df['City'].str.contains("Lompoc")]
vacation_stop1 = vacation_df.loc[vacation_df['City'].str.contains("Pacific Grove")]
vacation_stop2 = vacation_df.loc[vacation_df['City'].str.contains("Humboldt")] 
vacation_stop3 = vacation_df.loc[vacation_df['City'].str.contains("Rexburg")]

In [36]:
vacation_end

,City_ID,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
106,289,Lompoc,US,88.12,broken clouds,34.6391,-120.4579,"Holiday Inn Express Lompoc, an IHG Hotel"

In [41]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.to_numpy()[0][5], vacation_start.to_numpy()[0][6]
end = vacation_end.to_numpy()[0][5], vacation_end.to_numpy()[0][6]
stop1 = vacation_stop1.to_numpy()[0][5], vacation_stop1.to_numpy()[0][6]
stop2 = vacation_stop2.to_numpy()[0][5], vacation_stop2.to_numpy()[0][6]
stop3 = vacation_stop3.to_numpy()[0][5], vacation_stop3.to_numpy()[0][6]

In [42]:
stop3

(43.826, -111.7897)

In [43]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
directions = gmaps.directions_layer(start, end, waypoints = [stop1,stop2,stop3] , travel_mode = "DRIVING" or "BICYCLING" or "WALKING")
fig.add_layer(directions)
fig

Figure(layout=FigureLayout(height='420px'))

In [44]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
0,289,Lompoc,US,88.12,broken clouds,34.6391,-120.4579,"Holiday Inn Express Lompoc, an IHG Hotel"
1,360,Pacific Grove,US,88.81,clear sky,36.6177,-121.9166,Lovers Point Inn
2,233,Humboldt,US,82.60,few clouds,40.6665,-123.9178,NaN
3,143,Rexburg,US,79.86,light rain,43.8260,-111.7897,AmericInn by Wyndham Rexburg BYUI

In [45]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Weather}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [46]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))